*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 80%;
    margin: auto;
    color: rgb(6, 6, 54);
    
}
.squares2{
    display: inline;
}
.squares{
    display: inline;
}
.square1{
    
width: 20px;
height: 20px;
background-color: blue;

}
.square2{
    
width: 20px;
height: 20px;
background-color: blue;

}
.square3{
width: 20px;
height: 20px;
background-color: blue;

}
.square4{
width: 20px;
height: 20px;
background-color: blue;

}
.logo{
    margin-left: 40px;

}
.logo a {
font-size: bold;
text-decoration: none;
color: black;
float: left;
font-size: 40px;
margin-top: 20px;

}
.clearfix{
    clear: both;
}
.nav-bar{
    float:right;
    margin-top: 28px;

}
 .nav-bar ul{
list-style: none;
}
.nav-bar ul li {
    float: left;
}
.nav-bar ul li a {
    text-decoration: none;color: black;padding: 20px;font-size: 30px;
}

.main-txt{
    height: fit-content;
    margin: auto;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0, 0, 0, 0.057)),url(headerbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-txt h1{
    text-align: center;color: white;margin: auto;padding-top: 20%;
    text-transform: uppercase;font-size:80px; border-bottom: solid lightblue;width: 500px;}
    
.main-txt p {
    text-align: center;color: white;margin: auto;margin-top:20px ;
}
.main-txt a {
    border: solid lightblue;color: white;text-decoration: none;padding: 20px;display: block;width: fit-content;margin: auto;margin-top: 20px;
}
.section{
    background-color: rgba(128, 128, 128, 0.143);
}
.header h2{
    padding-top: 50px;
    text-align: center;
    font-size: 45px;
    
    

}
.header p {
    text-align: center;font-size: 20px;margin-top: 20px;color: grey;
}

.icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}
.icons p {
    color: grey;
}
.icon1{ margin: 10px;}
.icon1 img ,h3,p{ padding: 5px;text-transform: capitalize;}

.icon2{margin: 10px;}
.icon2 img ,h3,p{padding: 5px;text-transform: capitalize;}

.icon3{margin: 10px;}
.icon3 img ,h3,p{padding: 5px;text-transform: capitalize;}

.showing{
    width: 100%;
    height: fit-content;
}
.imgs{
     background-color: rgba(128, 128, 128, 0.143);

    margin-top: 70px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto ;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;
}
.contact{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(47, 58, 77, 0.877)), url('contactbg.png')
}
.header h3{
    font-size: 30px;
    color: white;
    margin-top: 50px;
    text-align: center;
}
.p5{
    position: relative;bottom: 20px;
}
.form{
    margin-top: 20px;
    text-align: center;
}
#Username{width: 400px;height: 40px;border: solid grey;background-color: transparent;color: white;}
#email{width: 400px;height: 40px;margin-top: 10px;background-color: transparent;color: white;border: grey solid;}
#help{
    width: 400px;height: 150px;margin-top: 10px;background-color: transparent;border: solid grey;color: white;
}
.aceepting{
    margin: auto;
    
}
#yes,#label{
    position: relative;
    right: 85px;
    
}
#label{
    position: relative;
    bottom: 2px;
    color: white;
}
#send{
    width: 80px;height: 30px;
    position: relative;
    left: 85px;
    bottom: 5px;
    background-color: transparent;
    border: solid lightblue;
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
}

.facebook{
    float: left;
    width: 50px;
    height: 50px;
    
}
.twitter{
     float: left;
    width: 50px;
    height: 50px;
}
.google{
      float: left;
    width: 50px;
    height: 50px;
}
.linked-in{
    float: left;
    width: 50px;
    height: 50px;
}
.icons{
    float: right;
}

